*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'poppins', sans-serif;
}

/* ===== HEADER ===== */
header{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    border: 1px solid black;
    background: white;
}
header .profile-logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
}
header nav ul{
    display: flex;
    border: 1px solid black;
    border-radius: 3px;
}
header nav ul li{
    padding: 5px 20px;
    width: 150px;
    text-transform: capitalize;
    text-align: center;
}
header nav ul li:not(:last-child) {
    border-right: 1px solid black;
}
header nav ul li a{
    color: black;
    font-weight: 500;
    font-size: 14px;
}

/* ===== HOME ===== */
.home-section{
    padding: 100px;
    width: 100%;
    height: 100vh;
}
.home-section h1{
    font-weight: 500;
    font-size: 28px;
}
.home-section h5{
    font-size: 14px;
    font-weight: 500;
}

/* ===== HEADQUARTER ===== */
.headquarter-section{
    padding: 100px;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.headquarter-section .head-container{
    margin-bottom: 50px;
}
.headquarter-section .head-container h4{
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
}
.headquarter-section .body-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}
.headquarter-section .body-container .item{
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headquarter-section .body-container .item .image-box{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
}
.headquarter-section .body-container .item span{
    text-transform: capitalize;
}

/* ===== FORM ===== */
.form-section{
    padding: 100px;
}
.form-section .head-container{
    margin-bottom: 50px;
}
.form-section .head-container h4{
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
}
.form-section .body-container{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.form-section .body-container .box-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 500px;
    height: 100%;
}
.form-section .body-container .box-content .input-box:nth-child(4){
    align-items: start;
}
.form-section .body-container .box-content .input-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.form-section .body-container .box-content .input-box label{
    min-width: 150px;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
}
.form-section .body-container .box-content .input-box input{
    width: 450px;
    height: 35px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid black;
}
.form-section .body-container .box-content .input-box input[type="radio"] {
    width: 15px;
    height: 15px;
}
.form-section .body-container .box-content .input-box textarea{
    width: 450px;
    height: 100px;
    resize: none;
    padding: 5px 10px;
    border-radius: 5px; 
    border: 2px solid black;
}
.form-section .body-container .box-content button{
    height: 40px;
    border-radius: 5px; 
    border: 2px solid black;
    text-transform: capitalize;
}
.form-section .body-container .box-content:nth-child(2){
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
}
.form-section .body-container .box-content:nth-child(2) .info-box{
    display: flex;
    gap: 5px;
}
.form-section .body-container .box-content:nth-child(2) .info-box h5{
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}